body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 4vw; /* Responsive font size */
}
